altair
attrs
blinker
blis
cachetools
catalogue
certifi
cffi
chardet
charset-normalizer
click
colorama
confection
cryptography
cymem
decorator
docx2txt
entrypoints
gitdb
GitPython
idna
importlib-metadata
Jinja2
joblib
jsonschema
langcodes
markdown-it-py
MarkupSafe
mdurl
murmurhash
nltk
numpy
packaging
pafy
pandas
pathy
pdfminer.six
pdfminer3
Pillow
plac
plotly
preshed
protobuf
pyarrow
pycparser
pycryptodome
pydantic
pydeck
Pygments
Pympler
pyresparser
pyrsistent
python-dateutil
pytz
pytz-deprecation-shim
regex
requests
rich
scikit-learn
scipy
six
smart-open
smmap
sortedcontainers
spacy-legacy
spacy-loggers
streamlit
streamlit-option-menu
streamlit-tags
tenacity
thinc
threadpoolctl
toml
toolz
tornado
typer
typing_extensions
tzdata
tzlocal
urllib3
validators
wasabi
watchdog
zipp
spacy>=3.0.0,<4.0.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0.tar.gz#egg=en_core_web_sm
